In [26]:
import numpy as np
import pandas as pd
import re
from datetime import datetime

In [11]:
df = pd.read_csv(r'anime.csv')

In [12]:
df.head()

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

### Make a new Column for Episode count

In [15]:
def extract_from_parantheses(text) -> int:
    res = re.search(r'\((.*?)\)',text)
    if res:
        return int(res.group(1).replace(" eps",""))

In [19]:
extract_from_parantheses(df['Title'][1])

'24'

In [13]:
df['Episodes'] = df['Title'].apply(extract_from_parantheses)

In [14]:
df.head()

   Rank                                              Title  Score  Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10        64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07        24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06        13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06        51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05        10

In [19]:
def extract_timestamp(title):
    data = ""
    for i in range(len(title)):
        if title[i] == ')':
            for j in range(i+1,i+20):
                data += title[j]
            return data

### Make a new Column for timestamp

In [20]:
df['Total Time'] = df['Title'].apply(extract_timestamp)

In [22]:
df.head()

,Rank,Title,Score,Episodes,Total Time
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

In [27]:
def extract_months(date_range:str) -> int:
    start_str,end_str = [d.strip() for d in date_range.split('-')]
    
    start_date = datetime.strptime(start_str, "%b %Y")  # e.g., "Apr 2009"
    end_date = datetime.strptime(end_str, "%b %Y")      # e.g., "Jul 2010"

    return (end_date.year - start_date.year) * 12 + (end_date.month - start_date.month)

In [29]:
df['Months'] = df['Total Time'].apply(extract_months)

In [31]:
df.head()

,Rank,Title,Score,Episodes,Total Time,Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,15
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,5
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,2
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,11
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,3

### Which Anime has the Highest Score

In [35]:
df[df['Score'] == df['Score'].max()]['Title']

0    Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
Name: Title, dtype: object

### Give the Top 5 Highest Scoring Anime

In [37]:
df.sort_values(by='Score',ascending=False)['Title'].head()

0    Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
1    Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...
2    Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...
3    Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...
4    Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...
Name: Title, dtype: object

### Which Anime has the Highest Episode Count

In [40]:
df[df['Episodes'] == df['Episodes'].max()]['Title']

15    GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...
Name: Title, dtype: object

### Top 5 Animes with Highest Episode Count

In [43]:
df.sort_values(by='Episodes', ascending=False)['Title'].head()

15    GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...
7     Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...
11    Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...
42    Hajime no IppoTV (75 eps)Oct 2000 - Mar 200255...
24    MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...
Name: Title, dtype: object

### Which is the Longest Running Anime