In [36]:
import numpy as np

# columns: [age,maths_marks,science_marks]
data = np.array([
    [18,85,78],
    [19,92,88],
    [17,76,95],
    [18,65,70],
    [20,90,85]
])

In [3]:
data.shape

(5, 3)

In [5]:
# average age of students
np.mean(data[:,0])

np.float64(18.4)

In [7]:
# extract maths marks of all students
data[:,1]

array([85, 92, 76, 65, 90])

In [8]:
# find the highest science mark
np.max(data[:,2])

np.int64(95)

In [10]:
# get details of the student who scored > 90 in maths
data[data[:,1] > 90]

array([[19, 92, 88]])

In [37]:
# increase Maths marks of all students by 5
data[:,1] += 5
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70, 70],
       [20, 95, 85]])

In [19]:
# find how many students are younger than 19
len(data[data[:,0] < 19])

3

In [20]:
# Calculate the average marks in each subject(Column-wise mean)
np.mean(data[:,1:],axis = 0)

array([86.6, 83.2])

In [29]:
# Get data of students who scored at least 80 in both subjects
data[(data[:,1] >= 80) & (data[:,2] >= 80)]

array([[19, 97, 88],
       [17, 81, 95],
       [20, 95, 85]])

In [40]:
# Replace all Science Marks < 75 with 0
# science_marks = data[:,2]
# science_marks[data[:,2] < 75] = 0
# science_marks

data[:,2][data[:,2] < 75] = 0

In [41]:
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70,  0],
       [20, 95, 85]])